<button type = "button" class = "btn btn-info" data-toggle = "modal"
  data-target = "#ModalAlbum"><%= t "new_album" %></button>
<table class="table table-vcenter table-striped">
  <tr>
    <th><%= t "name" %></th>
    <th colspan="2"><%= t "action" %></th>
  </tr>
  <% @albums.each do |album| %>
    <tr>
      <td><%= link_to album.name,
        shop_owner_shop_album_path(shop_id: @shop_id,id: album) %></td>
      <td>
        <div class="btn-group btn-group-xs">
          <%= link_to edit_shop_owner_shop_album_path(shop_id: @shop_id,id: album),
            class: "btn btn-default" do %>
            <i class="fa fa-pencil"><%= t "edit" %></i>
          <% end %>
        </div>
      </td>
      <td>
        <%= link_to shop_owner_shop_album_path(shop_id: @shop_id,id: album), method: :delete,
          data: {confirm: t("sure")}, class: "btn btn-danger" do %>
          <i class="fa fa-times"><%= t "delete" %></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<div id = "ModalAlbum" class = "modal fade" role = "dialog">
  <div class = "modal-dialog modal-lg">
    <div class = "modal-content">
      <%= render "form_album" %>
      <div class = "modal-footer">
        <button type = button" class = "btn btn-default"
          data-dismiss = "modal"><%= t "close" %></button>
      </div>
    </div>
  </div>
</div>
